::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #c3c3c3;
}

a{text-decoration:none}
body {
	background-color: #f3f3f3;
	/* padding-top:40px; */
}

.padd-body{
	padding-top:40px;
}
#exam_bg{
	width:100%;
	background: url("images/exam_bg.png");
	padding-bottom:20px;
}
.exams-topnav{
	background: #1aaba8;
	width:100%;
	height:40px;
	box-shadow:3px 3px 2px #ddd;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    letter-spacing: 0.1em;
    font-size:18px;
}

.exams-topnav span{
	line-height:40px;	
	padding-left:45%;	
	color:#fff;
}
	
.exams-topnav a{
	display:block;
	float:right;
	font-size:15px;
	text-decoration:none!important;
	padding-top:12px;
	color:#fff;
}
.exams-topnav .exam-userid{
	padding-right:3%;
}

.exams-topnav .exams-time{
	padding-right:3%;
}


ul>li{
	text-decoration:none;
}

.exam-body{
	margin-bottom: 200px;
}

.exam-body-back{
	padding-left: 0px;
	padding-right: 0px;
	position:fixed;
	top:56px;
	left:10px;
	text-align:center;
	overflow: hidden;
    border-radius: 5px;
    letter-spacing: 0.2em;
    z-index:100;
}
.exam-body-back .pad-0{
	padding:0;
	margin-top: 10px;
}
.exam-body-stu{
	height: 40px;
	background-color: #fff;
	border: 1px solid #dedede;
	text-align: center;
	border-radius: 0 0 5px 5px;
}

.exam-body-stu p{
	font-size:16px;
	line-height:40px;
	margin: 0 auto;
	letter-spacing: 0.2em;
}

.exam-cutdown h4{
	margin:0px;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:16px;
}
.exam-cutdown h4 i{
	top:2px;
}
.exam-cutdown{
	background: #1aaba8;
	height:40px;
}

#datika{
	border: 1px solid #dedede;
	text-align: center;
	height: 300px;
    overflow: auto;
	background-color: #fff;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	border-radius:0 0 5px 5px;
}

#datika a:hover{
	background-color:#2ddbd6;
	text-decoration:none;
}

.exam-body-back .h4-tag{
	margin: 100px 0 0 0;
	padding:0;
	height: 40px;
	line-height: 40px;
	font-size:16px;
	background: #1aaba8;
	color:#fff;
	border-radius:5px 5px 0 0;
}
#datika p{
	text-align:left;
	padding-left:5%;
	margin:0;
	height: 30px;
    line-height: 30px;
    background: #ddd;
}

#datika .convise-test{
	padding-top:230px;
}

#datika .cloze-test{
	padding-top:150px;
}

#datika .reading-test{
	padding-top:190px;
}

#datika .english-chinese{
	padding-top:150px;
}

#datika .chinese-english{
	padding-top:110px;
}

.english_chooseType{
	font-size:14px;
	padding-top:10px;
	padding-left:20px;
}

.exam-body-right{
	padding-right: 0px;
	height: 100%;
	margin-top: 15px;
}


.exam-nav-tabs{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	background-color: #fff;
	border:1px #dedede solid;
	margin-top: 0px!important;
}

#shijuandiv1{
	padding-right: 0px;
	background-color: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid #dedede;
	border-top:none;
}

.datikaa{    
	display: inline-block;
    border: 1px solid #7e7e7e;
    font-size: 14px;
    color: #999;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-decoration: none;
}
.datikaa:HOVER {
	color: #fff;
	border:1px solid #337ab7;
	background-color: #337ab7;
	text-decoration: none;
}

.answerselect {
	display: inline-block;
    background-color: #1aaba8;;
    font-size: 14px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    cursor: pointer;
    text-decoration: none;
}

#kemuxuanze a{
	padding-top:20px;
	padding-right:30px;
	color: #1A518B;
	margin-right:0px;
	border:none;
	background-color:#fff;
}

#kemuxuanze a:hover{
	background-color: #fff!important;
	border: none;
}

.active1{
	border-bottom: 3px solid #1A518B;
	color: #1A518B;
	margin-right: 0px;
	background-color: #fff;
	border-top-left-radius: 4px;
}

.submit-btn{
	margin-top:20px;
	text-align:center;
	padding:0;
}
.submit-btn button{
	height:40px;
	width:48%;
	text-align:center;
	line-height:38px;
	padding:0;
}
.btn-mysubmit{
	background-color: #1aaba8;
	border: 1px solid #ccc;
	color: #fff;
}

.submit-btn button:hover{
	background-color: #2ddbd6;
	color: #fff;
}

.exmapage{
	
	border-bottom: 1px dashed #ddd; 
	background-color:#fff;
}

.exam-choose{
	
	padding:10px 0 0 20px;

}

#q1{
	padding:10px 0 0 20px;
}

.exmapage .radio{
	padding:0 0 0 20px;
}

.modal-header{
	color:#fff;
	background-color:#1aaba8;
	border-radius: 6px 6px 0 0;
}
.MsoNormal{
	display:inline;
}

.bigContent .MsoNormal{
	text-indent:2em;
	display: block;
	margin: 0 0 5px;
}

.toAnswerSheet{
	height:40px;
	width:20%;
	position:fixed;
	top:40px;
	right:0;	
	background:#fff;
	line-height:40px;
	display:none;
	z-index:20000;
}
.toAnswerSheet a{
	border-color:#1aaba8;
	color:#1aaba8;
	background:#fff;
	padding:4px 6px;
}
.toAnswerSheet a:hover{
	color:#fff;
	background:#1aaba8;
}
/*Ó¢ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ô¶ï¿½ï¿½ï¿½ï¿½ï¿½*/
#shijuandiv p{
	 word-wrap: break-word;
}
/*ÃªµãÓÅ»¯*/
#shijuandiv>.p-title{
	margin-bottom: -20px;
	font-weight: bold;
	margin-top: 10px;
}
#shijuandiv .p-pqtDesc{
	color: #DE8801;
}
#shijuandiv .pad_top{
	padding-top: 40px;
	border-bottom: 1px dashed #ddd;
}